<div>
    <NavLink class="nav-link" href="word/last-added">
        <span class="bi bi-person-badge-nav-menu" aria-hidden="true">last added words</span>
    </NavLink>
    <AuthorizeView>
        <Authorized>
            <NavLink class="nav-link" href="word/en/create">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"> Create new word</span>
            </NavLink>
            <NavLink class="nav-link" href="onstudy/all-words">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true">onstudy/all-words</span>
            </NavLink>
            <NavLink class="nav-link" href="onstudy/today">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true">onstudy-today</span>
            </NavLink>
            <NavLink class="nav-link" href="onstudy/audio-archive">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true">audio-archive</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
</div>

@code {

}
