@page "/"
@rendermode InteractiveServer

@inject NavigationManager navManager
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


@code {
    protected override async Task OnInitializedAsync()
    {
        // navManager.NavigateTo("/word/last-added");
        // navManager.NavigateTo("/word/en/create");
        // navManager.NavigateTo("/word/en/ground");
        // navManager.NavigateTo("/create-audio");
        // navManager.NavigateTo("/last-added-words");
        // navManager.NavigateTo("/onstudy/all-words");
        // navManager.NavigateTo("/onstudy-today");
        // navManager.NavigateTo("/audio-archive");
        // navManager.NavigateTo("/exercise/cycle-repetition");
        navManager.NavigateTo("/word/edit/en/Sundddddd");
    
        
        
    }
}